* {
    box-sizing: border-box;
}

.container {
    display: grid;
    margin: 0 auto;
}

form {
    display: grid;
    grid-template-columns: 80px;
    grid-template-rows: auto auto auto auto auto;
    padding: 0;
}


ul {
    list-style-type: none;
}

.search-results {
    padding: 25px;
    background-color: gray;
    text-align: left;
}

.search-results .post-title {

}

.search-results .post-body {
    
}
